<div>
  <h1>Multiplicar</h1>

  <div>
    <form [formGroup]="formulario">
      <div class="mb-3">
        <label for="numero1">x1</label><br>
        <input type="number" id="numero1" class="form-control" formControlName="numero1">
        <br>
        <label for="numero2">y1</label><br>
        <input type="number" id="numero2" class="form-control" formControlName="numero2">
        <br>
        <label for="numero3">x2</label><br>
        <input type="number" id="numero3" class="form-control" formControlName="numero3">
        <br>
        <label for="numero4">y2</label><br>
        <input type="number" id="numero4" class="form-control" formControlName="numero4">
        <br>
        <button class="btn btn-primary" (click)="multiplicacion()">Procesar</button>
        <h3>Resultado: {{resultado}}</h3>
      </div>
    </form>
  </div>
</div>
